@font-face {
    font-family: 'LibreBaskerville';
    src: url('../fonts/librebaskerville/librebaskerville.woff2') format('woff2'),
    url('../fonts/librebaskerville/librebaskerville.woff') format('woff'),
    url('../fonts/librebaskerville/librebaskerville.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskervilleBold';
    src: url('../fonts/librebaskerville/librebaskervillebold.woff2') format('woff2'),
    url('../fonts/librebaskerville/librebaskervillebold.woff') format('woff'),
    url('../fonts/librebaskerville/librebaskervillebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/poppins/Poppinsregular.woff2') format('woff2'),
    url('../fonts/poppins/Poppinsregular.woff') format('woff'),
    url('../fonts/poppins/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/poppins/Poppinspoppins-semiboldmedium.woff2') format('woff2'),
    url('../fonts/poppins/Poppinspoppins-semiboldmedium.woff') format('woff'),
    url('../fonts/poppins/Poppinspoppins-semiboldmedium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


*, :before, :after{
  box-sizing: border-box;
}

body{
  min-width: 320px;
  color: rgba(97, 97, 97, 1);
  font-family: 'PoppinsRegular', sans-serif;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  color: rgba(49, 49, 49, 1);
}

h1{
  font-family: "LibreBaskerville", sans-serif;
  font-size: calc(25px + 2.73vw); /*60px*/
  margin-bottom: calc(20px + 2.34vw); /*50px*/
}

h2{
  font-family: "LibreBaskervilleBold", sans-serif;
  font-size: calc(20px + 2.34vw); /*50px*/
  margin-bottom: calc(20px + 2.34vw); /*50px*/
}

h3{
  font-weight: 600;
  font-size: calc(15px + 1.17vw); /*30px*/
  margin-bottom: calc(15px + 1.95vw) /*40px*/
}

h4{
  font-weight: 600;
  font-size: calc(15px + .78vw); /*25px*/
  margin-bottom: calc(15px + 1.95vw) /*40px*/
}

h5{
  font-family: "PoppinsMedium", sans-serif;
  font-size: calc(15px + .39vw); /*20px*/
  margin-bottom: calc(15px + 1.95vw) /*40px*/
}

h6{
  font-weight: 600;
  font-size: calc(15px + .23px); /*18px*/
  margin-bottom: 15px;
}
.headline h2 span{
  position: relative;
  z-index: 2;
}

.headline h2:after{
  content: attr(data-count);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: rgba(246, 246, 246, 1);
  font-size: calc(50px + 17.18vw);
  font-family: 'PoppinsMedium';
}

.headline_section{
  text-align: center;
  margin-bottom: calc(20px + 4.68vw);
}

.headline_section .headline h2:after{
  right: 0;
  color: rgba(240, 240, 240, 1);
}

.fix_headline{
  position: relative;   /*How it works??????*/
}

p{
  margin-bottom: calc(15px + 1.95vw); /*40px*/
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
  margin: 0 auto;
}

.block{
  padding-top: calc(30px + 9.37vw); /*150px*/
  padding-bottom: calc(30px + 9.37vw); /*150px*/
}

.header {
  position: relative;
  z-index: 10;
	background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);

}

.header.fixed {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 75px;
  align-items: center; 
}

.menu__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu_item:not(:last-child){
  margin-right: calc(15px + .78vw);
}

.menu_link {
  color: rgba(39, 39, 39, 1);
  font-size: 14px;
  font-family: 'PoppinsMedium', sans-serif;
}

.welcome_screen {
  display: flex;
  justify-content: center;
  background-color: rgba(38, 39, 50, .85);
  min-height: 100vh;

  
}

.welcome_screen__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.welcome_title {
  text-align: center;
  color: rgba(255, 255, 255, 1);

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: calc(25px + 5.07vw);
}

.advantages__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 200px;
}

.advantages__image {
  align-items: center;
  margin-bottom: calc(15px + 1.95vw);/*38px*/
}

.advantages__title {
    text-transform: uppercase;
}

.advantages__item:nth-child(1) .advantages__title{
  color: rgba(56, 198, 149, 1);
}

.advantages__item:nth-child(2) .advantages__title{
  color: rgba(178, 124, 245, 1);
}

.advantages__item:nth-child(3) .advantages__title{
  color: rgba(254, 185, 96, 1);
}

.about_us__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us__item {
    flex: 1 1 450px;
}

.about_us__image {
    position: relative;
    max-width: 555px;
    z-index: 1;
}

.about_us__image img {
    max-height: 700px;
    object-fit: cover;
}

.about_us__content {
    position: relative;
    z-index: 2;
    left: -7.56vw;
    padding: calc(20px + 6.25vw) calc(15px + 5.46vw);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.about_us__content article {
    position: relative;
    z-index: 1;
}

.about_us__content .lines{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.lines .line{
    flex: 1 1;
    height: 3px;
}

.lines .line:nth-child(1){
    background-color: rgba(252, 95, 69, 1);
}

.lines .line:nth-child(2){
    background-color: rgba(56, 198, 149, 1);
}

.lines .line:nth-child(3){
    background-color: rgba(178, 124, 245, 1);
}

.lines .line:nth-child(4){
    background-color: rgba(254, 185, 96, 1);
}

.segments__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.segments__item {
    text-align: center;
    min-width: 250px;
    flex: 1 1;
    margin: 0 15px 15px;
    background-color: rgba(255, 255, 255, 1);
    padding: calc(15px + 3.51vw) calc(10px + 1.56vw);
    transition: all .5s;
}

.segments__item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.section_portfolio__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section_portfolio__item{
    position: relative;
    flex: 1 1 calc((100% / 3) - 20px);
    margin: 0 10px 20px;
    min-width: 290px;
    max-width: 360px;
    height: 288px;
    overflow: hidden;
}

.section_portfolio__image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 1;
    text-decoration: none;
    margin: 3px;
}

.section_team{
    position: relative;
    background-color: rgba(247, 247, 247, 1);
}

.section_team__user_info{
    display: none;
}

.section_team__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section_team__item{
    flex: 1 1 calc((100% / 4) - 20px);
    margin: 0 10px 20px;
    width: 290px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0 , .1);
}

.section_team__user_info{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 50px;
}

.section_team__user_info__wrapper{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0 , .1);
    margin: 0 10px 20px;
    padding: calc(15px + 5.07vw) calc(15px + 6.64vw);
}

.section_team__item:hover .section_team__user_info{
    display: block;
}

.section_numbers {
    background-image: url("../img/Layer 24.png"); /*Как сделать, чтобы картинка бекграyнда сжималась???*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.numbers__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.numbers_item {
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    flex: 1 200px;

}

.numbers_icon {
    margin-bottom: 15px;
}


/*
.work_steps__wrapper {
    display: flex;
    flex-wrap: wrap;


}



.work_steps__item {


}

.step_photo {
    position: relative;
    max-width: 556px;
    z-index: 1;

}

.step_photo img {
    max-height: 300px;
    object-fit: cover;
}

.step_content {
    padding: calc(20px + 6.25vw) calc(15px + 5.46vw);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    max-width: 450px;
}

.left_side {
    align-items: flex-start;

}

.right_side {
    align-items: flex-end;

}*/

.pricing_tables__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.pricing_tables__item {
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding-top: 30px;
    flex: 0 1 360px;
    margin-bottom: 30px;
    max-width: 360px;



}



.table__title {
    align-items: center;
}

.table__icon1 {
    align-items: center;
    background-image: url("../img/bg.png");
    width: 115px;
    height: 115px;

}

.price_list {
    padding-bottom: 30px;

}

.price {
    align-items: center;
    text-align: center;

}

.price_button {
    background-image: url("../img/Background_button.png");
}

.section__testemonials {
    display: flex;
    justify-content: center;
    background-color: rgba(38, 39, 50, .85);
    height: 100vh;
}

.testemonials__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testemonials__item {
    flex: 1 1 450px;
}

.testemonials__image {
    max-width: 384px;
    z-index: 1;
}

.testemonials__image img {
    height: 399px;
    object-fit: cover;
}

.testemonials__content {
    align-items: center;
    text-align: left;
    z-index: 2;
    background-color: rgba(255,255,255,1);
    padding: 20px 15px;

}

.testemonials__content article {
    text-align: left;
}

.testemonials__content .lines {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.lines .line__testemonial {
    background-color: rgba(252, 95, 69, 1);
    height: 3px;
}

.select_us__wrapper {

}

.select_us__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.select_us__item {
    flex: 0 1 350px;
    max-width: 300px;
    margin-bottom: 70px;
}

.select_us__icon {
    display: flex;

}


.our_blog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our_blog_block {
    width: 50%;
    max-width: 555px;
    flex: 0 1 555px;
}

.our_blog__image {
    width: 100%;
}

.our_blog__image img {
    height: 443px;
    object-fit: cover;
}
.our_blog__item {
    margin-bottom: 20px;
}

.blog_content {
    align-items: center;
    text-align: left;
    background-color: rgba(255,255,255,1);
    padding: 20px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.subscribe_section__wrapper {
    display: block;
    align-items: center;
    text-align: center;
}

.contact_form {
    background-color: rgba(238, 238, 238, 1) ;

}

.contact_form__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.input_form {
    width: 750px;
}

.contact_form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}


.input_field {
    text-align: center;
    border: none;
    height: 50px;
    width: 50%;
    flex: 1 1 300px;
}

.input_message {
    width: 100%;
    border: none;
    height: 204px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 10px;
}

.send {
    justify-content: center;
}
























